{% extends 'base.html.twig' %}

{% block title %}Изменение курса{% endblock %}

{% block body %}
    <h1>Изменение курса</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Изменить'}) }}

    <div class="mt-3 mb-3" style="width: 100%; border-bottom: 1px solid #A0A0A4;"></div>

    <div style="display:flex; flex-direction: row; gap: 10px;">
        <a href="{{ path('app_course_index') }}"  class="btn btn-outline-primary">Назад к списку</a>
        {{ include('course/_delete_form.html.twig') }}
    </div>

{% endblock %}
