{% extends 'base.html.twig' %}

{% block title %}Новый курс{% endblock %}

{% block body %}
    <h1>Новый курс</h1>

    {{ include('course/_form.html.twig') }}

    <div class="mt-3 mb-3" style="width: 100%; border-bottom: 1px solid #A0A0A4;"></div>


    <a href="{{ path('app_course_index') }}" class="btn btn-outline-primary">Назад к списку</a>
{% endblock %}
