<div 
    class="bg-light width-10 w-100" 
    style="
        height: 50px; 
        display: flex; 
        align-items: center; 
        padding-left: 1rem; 
        font-weight: 600; 
        font-size: 18px;
    "
>
    StudyOn 
</div>